.cute-card {
  background: url('/wood6.jpg') no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  color: #fdeeaf;
  border: 2px solid #fdeeaf;
  padding: 16px 20px;
  border-radius: 12px;
  width: fit-content;
  width: 400px;
  margin: 20px auto;
  font-family: "Dancing Script", cursive;
  font-size: 18px;
  box-shadow: 10px 15px 12px rgba(105, 74, 34, 0.5);
  animation: fadeIn 1s ease;
  text-align: center;
  position: absolute;
  bottom: 3%;
    
  left: 7%;
  
  height: 200px;
}

.cute-quote {
  margin: 0;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}
